NodeRed flow/flows.json
[
    {
        "id": "04bc6f12557dfa13",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d26a3d5ccaa60ae5",
        "type": "mqtt in",
        "z": "04bc6f12557dfa13",
        "name": "TVOC",
        "topic": "sensor/CCS811/TVOC",
        "qos": "1",
        "datatype": "utf8",
        "broker": "56e41431c0709bb9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 120,
        "wires": [
            [
                "0dfa318a6335c48e",
                "359ec982a0971f37",
                "0dfc8817acedfdfd",
                "711b127b40bd1ad9"
            ]
        ]
    },
    {
        "id": "846ef5d7e1cd9261",
        "type": "mqtt in",
        "z": "04bc6f12557dfa13",
        "name": "eco2",
        "topic": "sensor/CCS811/eco2",
        "qos": "1",
        "datatype": "utf8",
        "broker": "56e41431c0709bb9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 260,
        "wires": [
            [
                "05a2f0e6bfa68505",
                "a7feb464567004d8",
                "1292240934782d1c",
                "784f6a291d0e4b1a"
            ]
        ]
    },
    {
        "id": "1b877fbb995fc841",
        "type": "mqtt in",
        "z": "04bc6f12557dfa13",
        "name": "BME680_Temperature",
        "topic": "sensor/BME680/Temperature",
        "qos": "1",
        "datatype": "utf8",
        "broker": "56e41431c0709bb9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 420,
        "wires": [
            [
                "faa04722b73cac4c",
                "dafae511f648a817",
                "67882b2bd33dc513",
                "c53f7ec06cf2555d"
            ]
        ]
    },
    {
        "id": "b35697b9ca0fd5e8",
        "type": "mqtt in",
        "z": "04bc6f12557dfa13",
        "name": "BME680_Pressure",
        "topic": "sensor/BME680/Pressure",
        "qos": "1",
        "datatype": "utf8",
        "broker": "56e41431c0709bb9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 560,
        "wires": [
            [
                "ca46924810e4394d",
                "6f8afef177b082d4",
                "a3e071f85463baf2",
                "4b3d1a366b93f8ac"
            ]
        ]
    },
    {
        "id": "5e27b609d0b38e84",
        "type": "mqtt in",
        "z": "04bc6f12557dfa13",
        "name": "BME680_Humidity",
        "topic": "sensor/BME680/Humidity",
        "qos": "1",
        "datatype": "utf8",
        "broker": "56e41431c0709bb9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 700,
        "wires": [
            [
                "494984183e1e1dd3",
                "dc6d677674d5c592",
                "b7dd91a85096940d",
                "5c7b06c42a33fbc9"
            ]
        ]
    },
    {
        "id": "0fde7eac014b0bfb",
        "type": "mqtt in",
        "z": "04bc6f12557dfa13",
        "name": "MS5611_temperature",
        "topic": "sensor/MS5611/Temperature",
        "qos": "1",
        "datatype": "utf8",
        "broker": "56e41431c0709bb9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 840,
        "wires": [
            [
                "21de50ce3e03c18f",
                "ecae66c503c178e1",
                "9be63d7e227e3ab0",
                "f7baac6d25fc3b90"
            ]
        ]
    },
    {
        "id": "e020c584bade46d9",
        "type": "mqtt in",
        "z": "04bc6f12557dfa13",
        "name": "MS5611_pressure",
        "topic": "sensor/MS5611/Pressure",
        "qos": "1",
        "datatype": "utf8",
        "broker": "56e41431c0709bb9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 980,
        "wires": [
            [
                "d2557d6dd077655b",
                "930d8d8d369005fd",
                "d3d7796b7224cafb",
                "33f41ee4b17b2002"
            ]
        ]
    },
    {
        "id": "711b127b40bd1ad9",
        "type": "file",
        "z": "04bc6f12557dfa13",
        "name": "",
        "filename": "C:\\tfg-sensors-data\\CCS811_TVOC.csv",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 860,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "0dfa318a6335c48e",
        "type": "ui_gauge",
        "z": "04bc6f12557dfa13",
        "name": "TVOC - sensors",
        "group": "1a55a2f6fc65db81",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "TVOC",
        "label": "ppb",
        "format": "{{value}}",
        "min": 0,
        "max": "1200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "700",
        "seg2": "1000",
        "className": "",
        "x": 340,
        "y": 40,
        "wires": []
    },
    {
        "id": "05a2f0e6bfa68505",
        "type": "ui_gauge",
        "z": "04bc6f12557dfa13",
        "name": "eco2 - sensors",
        "group": "1a55a2f6fc65db81",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "eco2",
        "label": "ppm",
        "format": "{{value}}",
        "min": "400",
        "max": "8200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "4500",
        "seg2": "6000",
        "className": "",
        "x": 380,
        "y": 180,
        "wires": []
    },
    {
        "id": "ca46924810e4394d",
        "type": "ui_gauge",
        "z": "04bc6f12557dfa13",
        "name": "Pressure - sensors",
        "group": "5f339cb05b69a43d",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "compass",
        "title": "Pressure",
        "label": "hPa",
        "format": "{{value}}",
        "min": "300",
        "max": "1100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "900",
        "seg2": "1000",
        "className": "",
        "x": 370,
        "y": 480,
        "wires": []
    },
    {
        "id": "faa04722b73cac4c",
        "type": "ui_gauge",
        "z": "04bc6f12557dfa13",
        "name": "Temperature - sensors",
        "group": "5f339cb05b69a43d",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "ยบ C",
        "format": "{{value}}",
        "min": "-40",
        "max": "85",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "35",
        "seg2": "45",
        "className": "",
        "x": 380,
        "y": 320,
        "wires": []
    },
    {
        "id": "494984183e1e1dd3",
        "type": "ui_gauge",
        "z": "04bc6f12557dfa13",
        "name": "Humidity - sensors",
        "group": "5f339cb05b69a43d",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Humidity",
        "label": "% RH",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "60",
        "seg2": "80",
        "className": "",
        "x": 370,
        "y": 620,
        "wires": []
    },
    {
        "id": "21de50ce3e03c18f",
        "type": "ui_gauge",
        "z": "04bc6f12557dfa13",
        "name": "Temperature - sensors",
        "group": "b02db97ad576256d",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "ยบ C",
        "format": "{{value}}",
        "min": "-40",
        "max": "85",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "35",
        "seg2": "45",
        "className": "",
        "x": 380,
        "y": 760,
        "wires": []
    },
    {
        "id": "d2557d6dd077655b",
        "type": "ui_gauge",
        "z": "04bc6f12557dfa13",
        "name": "Pressure - sensors",
        "group": "b02db97ad576256d",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "compass",
        "title": "Pressure",
        "label": "mBar",
        "format": "{{value}}",
        "min": "10",
        "max": "1200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "900",
        "seg2": "1000",
        "className": "",
        "x": 370,
        "y": 900,
        "wires": []
    },
    {
        "id": "dafae511f648a817",
        "type": "ui_gauge",
        "z": "04bc6f12557dfa13",
        "name": "Temperature group",
        "group": "2288b88ac0ec3f5b",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "ยบ C",
        "format": "{{value}}",
        "min": "-40",
        "max": "85",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "35",
        "seg2": "45",
        "className": "",
        "x": 630,
        "y": 320,
        "wires": []
    },
    {
        "id": "ecae66c503c178e1",
        "type": "ui_gauge",
        "z": "04bc6f12557dfa13",
        "name": "Temperature group",
        "group": "f8b88f633275d565",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "ยบ C",
        "format": "{{value}}",
        "min": "-40",
        "max": "85",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "35",
        "seg2": "45",
        "className": "",
        "x": 630,
        "y": 760,
        "wires": []
    },
    {
        "id": "dc6d677674d5c592",
        "type": "ui_gauge",
        "z": "04bc6f12557dfa13",
        "name": "Humidity group",
        "group": "f3a8e9ed4555f8d1",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Humidity",
        "label": "% RH",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "60",
        "seg2": "80",
        "className": "",
        "x": 620,
        "y": 620,
        "wires": []
    },
    {
        "id": "6f8afef177b082d4",
        "type": "ui_gauge",
        "z": "04bc6f12557dfa13",
        "name": "Pressure group",
        "group": "710c11396da82c57",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "compass",
        "title": "Pressure",
        "label": "hPa",
        "format": "{{value}}",
        "min": "300",
        "max": "1100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "900",
        "seg2": "1000",
        "className": "",
        "x": 620,
        "y": 480,
        "wires": []
    },
    {
        "id": "930d8d8d369005fd",
        "type": "ui_gauge",
        "z": "04bc6f12557dfa13",
        "name": "Pressure group",
        "group": "9eac388cef29085f",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "compass",
        "title": "Pressure",
        "label": "mBar",
        "format": "{{value}}",
        "min": "10",
        "max": "1200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "900",
        "seg2": "1000",
        "className": "",
        "x": 620,
        "y": 900,
        "wires": []
    },
    {
        "id": "a7feb464567004d8",
        "type": "ui_gauge",
        "z": "04bc6f12557dfa13",
        "name": "eco2 - air quality",
        "group": "abe9e29e696c9974",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "eco2",
        "label": "ppm",
        "format": "{{value}}",
        "min": "400",
        "max": "8200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "4500",
        "seg2": "6000",
        "className": "",
        "x": 610,
        "y": 180,
        "wires": []
    },
    {
        "id": "359ec982a0971f37",
        "type": "ui_gauge",
        "z": "04bc6f12557dfa13",
        "name": "TVOC - air quality",
        "group": "068fc22e41c574ac",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "TVOC",
        "label": "ppb",
        "format": "{{value}}",
        "min": 0,
        "max": "1200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "700",
        "seg2": "1000",
        "className": "",
        "x": 570,
        "y": 40,
        "wires": []
    },
    {
        "id": "0dfc8817acedfdfd",
        "type": "ui_chart",
        "z": "04bc6f12557dfa13",
        "name": "TVOC chart",
        "group": "f555be5bb7c8d225",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "TVOC",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1200",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 850,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "1292240934782d1c",
        "type": "ui_chart",
        "z": "04bc6f12557dfa13",
        "name": "eco2 chart",
        "group": "f555be5bb7c8d225",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "eco2",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "400",
        "ymax": "8200",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 890,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "67882b2bd33dc513",
        "type": "ui_chart",
        "z": "04bc6f12557dfa13",
        "name": "BME680 temperature chart",
        "group": "869f855dcac962de",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-40",
        "ymax": "85",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 900,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "9be63d7e227e3ab0",
        "type": "ui_chart",
        "z": "04bc6f12557dfa13",
        "name": "MS5611 temperature chart",
        "group": "9af2730bbba29622",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-40",
        "ymax": "85",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 900,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "a3e071f85463baf2",
        "type": "ui_chart",
        "z": "04bc6f12557dfa13",
        "name": "BME680 pressure chart",
        "group": "869f855dcac962de",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Pressure",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "300",
        "ymax": "1100",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 890,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "d3d7796b7224cafb",
        "type": "ui_chart",
        "z": "04bc6f12557dfa13",
        "name": "MS5611 pressure chart",
        "group": "9af2730bbba29622",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Pressure",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "10",
        "ymax": "1200",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 890,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "b7dd91a85096940d",
        "type": "ui_chart",
        "z": "04bc6f12557dfa13",
        "name": "BME680 humidity chart",
        "group": "869f855dcac962de",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Humidity",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 890,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "784f6a291d0e4b1a",
        "type": "file",
        "z": "04bc6f12557dfa13",
        "name": "",
        "filename": "C:\\tfg-sensors-data\\CCS811_eco2.csv",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 880,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "c53f7ec06cf2555d",
        "type": "file",
        "z": "04bc6f12557dfa13",
        "name": "",
        "filename": "C:\\tfg-sensors-data\\BME680_Temperature.csv",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 880,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "4b3d1a366b93f8ac",
        "type": "file",
        "z": "04bc6f12557dfa13",
        "name": "",
        "filename": "C:\\tfg-sensors-data\\BME680_Pressure.csv",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 870,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "5c7b06c42a33fbc9",
        "type": "file",
        "z": "04bc6f12557dfa13",
        "name": "",
        "filename": "C:\\tfg-sensors-data\\BME680_Humidity.csv",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 870,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "f7baac6d25fc3b90",
        "type": "file",
        "z": "04bc6f12557dfa13",
        "name": "",
        "filename": "C:\\tfg-sensors-data\\MS5611_Temperature.csv",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 880,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "33f41ee4b17b2002",
        "type": "file",
        "z": "04bc6f12557dfa13",
        "name": "",
        "filename": "C:\\tfg-sensors-data\\MS5611_Pressure.csv",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 870,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "73245556ec457e59",
        "type": "mqtt in",
        "z": "04bc6f12557dfa13",
        "name": "Year data",
        "topic": "sensor/time/year",
        "qos": "1",
        "datatype": "utf8",
        "broker": "56e41431c0709bb9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 1080,
        "wires": [
            [
                "efee44730223ee1e"
            ]
        ]
    },
    {
        "id": "b39843464508ba4e",
        "type": "mqtt in",
        "z": "04bc6f12557dfa13",
        "name": "Month data",
        "topic": "sensor/time/month",
        "qos": "1",
        "datatype": "utf8",
        "broker": "56e41431c0709bb9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 1140,
        "wires": [
            [
                "f567f69e45ca487c"
            ]
        ]
    },
    {
        "id": "5b10d758f1c45faa",
        "type": "mqtt in",
        "z": "04bc6f12557dfa13",
        "name": "Day data",
        "topic": "sensor/time/day",
        "qos": "1",
        "datatype": "utf8",
        "broker": "56e41431c0709bb9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 1200,
        "wires": [
            [
                "9a1ef2a4c69c5689"
            ]
        ]
    },
    {
        "id": "d3955b65f2d8a208",
        "type": "mqtt in",
        "z": "04bc6f12557dfa13",
        "name": "Hour data",
        "topic": "sensor/time/hour",
        "qos": "1",
        "datatype": "utf8",
        "broker": "56e41431c0709bb9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 1260,
        "wires": [
            [
                "48487c587bfa638b"
            ]
        ]
    },
    {
        "id": "05cc070f0eec0b84",
        "type": "mqtt in",
        "z": "04bc6f12557dfa13",
        "name": "Minute data",
        "topic": "sensor/time/min",
        "qos": "1",
        "datatype": "utf8",
        "broker": "56e41431c0709bb9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 1320,
        "wires": [
            [
                "0bd3e60a87a14b7a"
            ]
        ]
    },
    {
        "id": "5c850934f721c963",
        "type": "mqtt in",
        "z": "04bc6f12557dfa13",
        "name": "Second data",
        "topic": "sensor/time/sec",
        "qos": "1",
        "datatype": "utf8",
        "broker": "56e41431c0709bb9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 1380,
        "wires": [
            [
                "0df602ec926a7806"
            ]
        ]
    },
    {
        "id": "efee44730223ee1e",
        "type": "file",
        "z": "04bc6f12557dfa13",
        "name": "",
        "filename": "C:\\tfg-sensors-data\\Time\\year.csv",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 540,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "f567f69e45ca487c",
        "type": "file",
        "z": "04bc6f12557dfa13",
        "name": "",
        "filename": "C:\\tfg-sensors-data\\Time\\month.csv",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 540,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "9a1ef2a4c69c5689",
        "type": "file",
        "z": "04bc6f12557dfa13",
        "name": "",
        "filename": "C:\\tfg-sensors-data\\Time\\day.csv",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 530,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "48487c587bfa638b",
        "type": "file",
        "z": "04bc6f12557dfa13",
        "name": "",
        "filename": "C:\\tfg-sensors-data\\Time\\hour.csv",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 540,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "0bd3e60a87a14b7a",
        "type": "file",
        "z": "04bc6f12557dfa13",
        "name": "",
        "filename": "C:\\tfg-sensors-data\\Time\\minute.csv",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 550,
        "y": 1320,
        "wires": [
            []
        ]
    },
    {
        "id": "0df602ec926a7806",
        "type": "file",
        "z": "04bc6f12557dfa13",
        "name": "",
        "filename": "C:\\tfg-sensors-data\\Time\\second.csv",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 550,
        "y": 1380,
        "wires": [
            []
        ]
    },
    {
        "id": "b3fefe24169887fc",
        "type": "mqtt in",
        "z": "04bc6f12557dfa13",
        "name": "",
        "topic": "ESP_CAM/photo/#",
        "qos": "1",
        "datatype": "base64",
        "broker": "56e41431c0709bb9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 1580,
        "wires": [
            [
                "dba466f25e1871f5",
                "f79dfd3a48bf99e0"
            ]
        ]
    },
    {
        "id": "6dfcf3650d3ffbf8",
        "type": "jimp-image",
        "z": "04bc6f12557dfa13",
        "name": "",
        "data": "payload",
        "dataType": "msg",
        "ret": "b64",
        "parameter1": "",
        "parameter1Type": "msg",
        "parameter2": "",
        "parameter2Type": "msg",
        "parameter3": "",
        "parameter3Type": "msg",
        "parameter4": "",
        "parameter4Type": "msg",
        "parameter5": "",
        "parameter5Type": "msg",
        "parameter6": "",
        "parameter6Type": "msg",
        "parameter7": "",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "payload",
        "sendPropertyType": "msg",
        "parameterCount": 0,
        "jimpFunction": "none",
        "selectedJimpFunction": {
            "name": "none",
            "fn": "none",
            "description": "Just loads the image.",
            "parameters": []
        },
        "x": 670,
        "y": 1580,
        "wires": [
            [
                "a4ca34fbcdba921f"
            ]
        ]
    },
    {
        "id": "2a2508b680568652",
        "type": "jimp-image",
        "z": "04bc6f12557dfa13",
        "name": "",
        "data": "payload",
        "dataType": "msg",
        "ret": "img",
        "parameter1": "filename",
        "parameter1Type": "msg",
        "parameter2": "",
        "parameter2Type": "msg",
        "parameter3": "",
        "parameter3Type": "msg",
        "parameter4": "",
        "parameter4Type": "msg",
        "parameter5": "",
        "parameter5Type": "msg",
        "parameter6": "",
        "parameter6Type": "msg",
        "parameter7": "",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "payload",
        "sendPropertyType": "msg",
        "parameterCount": 1,
        "jimpFunction": "write",
        "selectedJimpFunction": {
            "name": "write",
            "fn": "write",
            "description": "Write to file. NOTE: You can specify an alternative file extension type to change the type. Currently support types are jpg, png, bmp.",
            "parameters": [
                {
                    "name": "filename",
                    "type": "str",
                    "required": true,
                    "hint": "Name of the file",
                    "defaultType": "str"
                }
            ]
        },
        "x": 1270,
        "y": 1580,
        "wires": [
            []
        ]
    },
    {
        "id": "5a3911c0b395b29a",
        "type": "function",
        "z": "04bc6f12557dfa13",
        "name": "",
        "func": "var mac_add = msg.MAC;\n\nvar now = new Date();\n// Create formatted time\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\nvar mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\nvar ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\n\npath = \"c:/tfg-sensors-data/photos/CAM_\" + msg.device_id + \"/\" + yyyy + \"-\" + mm + \"-\" + dd + \"_\" + hh + \"h-\" + mmm + \"min-\" + ss + \"sec.jpg\";\nmsg.filename = path;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 1580,
        "wires": [
            [
                "2a2508b680568652"
            ]
        ]
    },
    {
        "id": "a4ca34fbcdba921f",
        "type": "timestamp",
        "z": "04bc6f12557dfa13",
        "name": "",
        "x": 870,
        "y": 1580,
        "wires": [
            [
                "5a3911c0b395b29a"
            ]
        ]
    },
    {
        "id": "dba466f25e1871f5",
        "type": "debug",
        "z": "04bc6f12557dfa13",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 1520,
        "wires": []
    },
    {
        "id": "f79dfd3a48bf99e0",
        "type": "function",
        "z": "04bc6f12557dfa13",
        "name": "",
        "func": "var num = msg.topic;\n\nmsg.device_id = num.substring(14,18);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 1580,
        "wires": [
            [
                "6dfcf3650d3ffbf8"
            ]
        ]
    },
    {
        "id": "56e41431c0709bb9",
        "type": "mqtt-broker",
        "name": "HiveMQ online free broker",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "1a55a2f6fc65db81",
        "type": "ui_group",
        "name": "CCS811",
        "tab": "044d580742694411",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5f339cb05b69a43d",
        "type": "ui_group",
        "name": "BME680",
        "tab": "044d580742694411",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b02db97ad576256d",
        "type": "ui_group",
        "name": "MS5611",
        "tab": "044d580742694411",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2288b88ac0ec3f5b",
        "type": "ui_group",
        "name": "BME680",
        "tab": "f86154c1f282f871",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f8b88f633275d565",
        "type": "ui_group",
        "name": "MS5611",
        "tab": "f86154c1f282f871",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f3a8e9ed4555f8d1",
        "type": "ui_group",
        "name": "BME680",
        "tab": "d0bef8feef2204ef",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "710c11396da82c57",
        "type": "ui_group",
        "name": "BME680",
        "tab": "ed8016772a4aaa16",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9eac388cef29085f",
        "type": "ui_group",
        "name": "MS5611",
        "tab": "ed8016772a4aaa16",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "abe9e29e696c9974",
        "type": "ui_group",
        "name": "CO2 Concentration",
        "tab": "161d324b319bc652",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "068fc22e41c574ac",
        "type": "ui_group",
        "name": "Volatile Organic Compounds",
        "tab": "161d324b319bc652",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f555be5bb7c8d225",
        "type": "ui_group",
        "name": "CCS811",
        "tab": "c0cea79ee8106857",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "869f855dcac962de",
        "type": "ui_group",
        "name": "BME680",
        "tab": "c0cea79ee8106857",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9af2730bbba29622",
        "type": "ui_group",
        "name": "MS5611",
        "tab": "c0cea79ee8106857",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "044d580742694411",
        "type": "ui_tab",
        "name": "Sensor's Dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f86154c1f282f871",
        "type": "ui_tab",
        "name": "Temperature",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d0bef8feef2204ef",
        "type": "ui_tab",
        "name": "Humidity",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ed8016772a4aaa16",
        "type": "ui_tab",
        "name": "Pressure",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "161d324b319bc652",
        "type": "ui_tab",
        "name": "Air Quality",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c0cea79ee8106857",
        "type": "ui_tab",
        "name": "Sensor variables on charts",
        "icon": "dashboard",
        "order": 6,
        "disabled": false,
        "hidden": false
    }
]